:root {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

main {
  flex: 1 0 auto;
  box-shadow: inset 0 0 14px rgb(0 0 0 / 30%);
  background-image: url("../assets/bg.webp");
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px 10px;
  background-size: cover;
  background-position: center;
}

footer {
  flex-shrink: 0;
}
.text-primary {
  color: #2bb1a8 !important;
}
.cursor-pointer {
  cursor: pointer;
}